<form [formGroup]="loginForm">
    <hr><hr>
    <div class="form-group">
    <h1>Login Form</h1>
    </div>
    <hr><hr>
    <div class="form-group">
    <label><h2>Username:</h2> </label>
    <input type="text" class="form-control"formControlName = "userName" placeholder="Enter your Username">
    </div>
    <div class="form-group">
    <label><h2> Password :</h2></label>
    <input type="password" class="form-control" formControlName = "password" placeholder="Enter your Password">
    </div>
    <button type="submit" class="btn btn-success btn-lg">Login</button>
    </form>
    